main.map-view .navbar {
    display: flex;
    align-items: center;
    height: 64px;
    
    background: var(--card-bg-colour);
    box-shadow: var(--box-shadow);
    
    padding: 0px 16px;
}

main.map-view .navbar .navbar-title {
    display: flex;
    align-items: center;
    font-size: 
}

main.map-view .navbar .logo {
    height: 32px;
    margin-right: 8px;
}

.map-container {
    position: relative;
    height: 100%;
}