.search-wrapper {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
    z-index: 2000;
    
    max-width: 400px;
}

.searchbar-wrapper {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    
    border-radius: 21px;
    
    background: var(--card-bg-colour);
    box-shadow: 0px 2px 5px #c0c0c0;
    
    padding: 0px 16px;
}

.searchbar-wrapper.open {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
    border-bottom: 1px solid lightgrey;
}

.searchbar {
    flex-grow: 1;
    background: none;
    padding: 8px 0px;
}

.search-results {
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    
    background: var(--card-bg-colour);
    box-shadow: 0px 4px 5px -2px #c0c0c0;
    
    overflow: hidden;
}

.search-results > * {
    padding: 16px;
    user-select: none;
}

.search-results li {
    display: flex;
    grid-gap: 16px;
    
    cursor: pointer;
}

.search-results li > span:first-child {
    flex-grow: 1;
    width: 100%;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    /* TODO: fix clipping of letters */
}

.search-results li > span:not(:first-child) {
    color: darkgray;
}

.search-results li:hover {
    background: #f0f0f0;
}
.search-results li:active {
    background: #d8d8d8;
}

.icon {
    stroke: darkgrey;
}

.delete-icon {
    cursor: pointer;
}

.delete-icon:hover {
    stroke: grey;
}