:root {
    --card-bg-colour: white;
    --box-shadow: 0px 0px 5px #c0c0c0;
    --highlight-colour: #ed1846;
}

html, body, main, .App, #root {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

.error {
    margin: 16px;
    padding: 16px;
    border: 1px solid #b71d1d;
    background: #ffcdd2;
}